@import "../scss/variables.scss";

.carousel {
  background-image: url("../../img/slide_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  .container {
    text-align: center;
    padding: 15% 0;
    
    .carousel-title {
      font-size: 62px;
      font-weight: 700;
      color: white;
      text-transform: capitalize;
    }
    .carousel-btn {
      .ant-btn {
        height: 40px !important;
        font-size: 16px !important;
      }
      .btn-item {
        margin: 0 10px;
      }
      .ant-btn-primary {
        background-color: $primaryColor;
        border-color: $primaryColor;
        &:hover {
          background-color: #1890ff;
        }
      }
    }
  }
}

.search-container {
  width: 80%;
  padding: 30px;
  background-color: $bgColor;
  text-align: center;
  margin: auto;
  position: static;
  z-index: 1;
  margin-top: -6%;

  .search-title {
    text-align: left;
    color: white;
    font-size: 24px;
    span {
      margin-left: 2%;
    }
    .inventory-icon {
      margin-left: 8%;
    }
  }
  .search-form {
    margin: 20px 0;
    .search-box {
      .search-item {
        margin: 0 10px;
      }
      .start {
        width: 20%;
      }
      .destination {
        width: 20%;
      }
      .date-picker {
        width: 20%;
      }
      .seat {
        width: 7%;
      }
      .btn-search {
        width: 10%;
      }
      .ant-select-selection--single {
        height: 45px;
        .ant-select-selection__rendered {
          line-height: 45px;
        }
      }
      .ant-input {
        height: 45px;
      }
      .ant-btn {
        height: 45px;
      }
    }
  }
}

//SCROLL TO TOP
.scroll-top {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: $primaryColor;
  position: fixed;
  right: 30px;
  bottom: -40px;
  z-index: 200;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  .scroll-top-icon {
    color: white;
    font-size: 20px;
  }

  &:hover {
    background-color: white;
    border: 1px solid $primaryColor;

    .scroll-top-icon {
      color: $primaryColor;
    }
  }
}
.show {
  opacity: 1;
  bottom: 30px;
}
// REPSONSIVE
@media screen and (max-width: 993px) {
  .search-container {
    width: 95%;
    margin-top: -15%;
    .search-form {
      .search-box {
        .btn-search {
          width: 20%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .carousel {
    .container {
      padding: 25% 0;
      .carousel-title {
        font-size: 50px;
      }
    }
  }
  .search-container {
    width: 95%;
    .search-form {
      .search-box {
        .search-item {
          margin: 0 1%;
        }
        .start {
          width: 30%;
        }
        .destination {
          width: 30%;
        }
        .date-picker {
          width: 20%;
        }
        .seat {
          width: 10%;
        }
        .btn-search {
          margin-top: 10px;
          padding: 10px 0;
          width: 96%;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .carousel {
    .container {
      padding: 30% 0;
      .carousel-title {
        font-size: 40px;
      }
    }
  }
  .search-container {
    margin-top: -30%;
    width: 95%;
    .search-form {
      .search-box {
        .search-item {
          margin: 10px 0;
        }
        .start {
          width: 100%;
        }
        .destination {
          width: 100%;
        }
        .date-picker {
          width: 100%;
        }
        .seat {
          width: 100%;
        }

        .btn-search {
          padding: 10px 0;
          width: 100%;
        }
      }
    }
  }
}
.gift-icon {
  position: fixed;
  z-index: 200;
  bottom: 300px;
  right: 20px;
  cursor: pointer;
  img {
    width: 55px;
    animation-name: gift;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
}

@keyframes gift {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
