@import '../scss/variables.scss';

.carousel{
    background-image: url('../../img/slide_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    
}